.title
{
  margin-bottom: 5px;
  font-family: sans-serif;
  background: black;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

.titleSub
{
  color: #eee;
  margin-left: 10px;
  font-style: italic;
  background: black;
  padding-bottom: 5px;
}