.button {
    background-color: white;
    border-radius: 25px;
    border-color: #00194C;
    border-width: thin;
    min-width: 80px;
    text-align: center;
    padding: 10px 40px;
    color: #00194C;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    filter: brightness(85%);
}

.button.secondary {
    color: #4196A4;
    border-color: #4196A4;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding: 10px 20px;
}