.header {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.bgColorPrimary {
    background-color: #001647;
}

.textColorPrimary {
    color: white;
}