.notification {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    padding: 15px;
    font-weight: 500;
}

.bgColorPrimary {
    background-color: #4196A4;
}

.bgColorSecondary {
    background-color: #00B8E0;
}

.title {
    font-weight: 900;
}

.title::after {
    content: ": ";
}